@if (bookDetails != undefined) {
<h2 class="title"> {{ bookDetails.name }} </h2>

<div class="player">
    <div class="display">
        <span class="word" [class.animate]="gettingReady"> {{currentWord}}</span>
    </div>
    
    <div class="action-panel">
        <button class="action-button">
            <span class="material-symbols-outlined">
                fast_rewind
            </span>
        </button>
        <button class="action-button">
            <span class="material-symbols-outlined">
                play_circle
            </span>
        </button>
        <button class="action-button">
            <span class="material-symbols-outlined">
                fast_forward
            </span>
        </button>
    </div>
</div>
}