@use "colors";

:host {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1em;
    box-shadow: 0px 0px 18px 5px rgba(0,0,0,0.1);
    border-radius: 0.5rem;
    height: 25rem;
    width: 15rem;
    cursor: pointer;
    

    .thumbnail-container {
        align-self: center;
        max-width: 10rem;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 15rem;
        background-color: colors.$tertiary;

        img {
            max-height: 100%;
            max-width: 100%;
        }
    }

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .author {
            max-width: 10srem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 0.875rem;
        }
    }

    .title {
        font-weight: 600;
        font-size: 1rem;
    }

    .description {
        height: 0;
        flex-grow: 1;
        overflow: hidden;
        font-size: 0.875rem;
    }
}